.analysis-heading {
  @include primary-font-normal;
  font-weight: 600;
  @include font-size-3244;
  height: 3.75rem;
  @include flex-row-center;
  color: $theme-color-black19;
}

.analysis-page {
  padding-left: 3rem;
  padding-top: 5rem;
}

.analysis-graph-f1 {
  width: 70%;
}

.f1-container {
  @include flex-row-center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.f1-score-display {
  @include flex-column-center;
  margin-right: 3rem;
  @include primary-font-normal;
  color: $theme-color-black19;
  @include font-size-2027;
}

.analysis-graph-multiple {
  margin-top: 1rem;
  @include flex-row-center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 12rem;
  width: 90%;
  overflow-y: overlay;
  overflow-x: hidden;
  margin-bottom: 5rem;
  border: 2px solid #c4c4c4;
  .analysis-roc-curve {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 32%;
    height: 10rem;
  }
}

.confusion-matrix {
  margin-top: 0rem;
  width: 60%;
}

.analysis-graph-uc {
  width: 75%;
}

.analysis-about {
  text-align: justify;
  width: 100%;
  @include primary-font-normal;
  font-size: 12px;
  line-height: 18px;
  color: $theme-color-black39;
  ol {
    margin-block-start: 0;
    padding-inline-start: 0px;
  }
  strong {
    font-weight: 700;
  }
  li {
    margin: 0.5rem 0;
  }
}

.aug-analysis {
  @include flex-row-center;
  height: 100%;
  padding-top: 3.75rem;
}
.aug-analysis-column {
  width: 50%;
  height: 100%;
  padding: 2rem;
  border-left: 2px solid #c4c4c4;
  .heading-row {
    @include flex-row-center;
  }
  .selector {
    height: 25vh;
    overflow-y: overlay;
    overflow-x: hidden;
    border-bottom: 2px solid #c4c4c4;
  }
  .aug-options {
    padding-left: 2rem;
  }
  .aug-rotate {
    margin-top: -0.5rem;
    height: 1rem;
    width: 100%;
    padding-right: 40%;
  }
  .noise-input {
    @include flex-row-center;
    input {
      width: 50%;
    }
  }
}

.row-last-button {
  margin-left: auto;
  margin-right: 1rem;
}

.scroller-right {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
  margin-right: 5% !important;
}
.scroller{
  overflow-y: overlay;
  overflow-x: hidden;
}
.selector,
.analysis-graph-multiple,
.middle-layer-div,
.scroller-right,.scroller {
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 2rem;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(57, 57, 57, 0.35);
    border-radius: 3px;
  }

  ​ &::-webkit-scrollbar-track-piece {
    background: rgba(57, 57, 57, 0.35);
  }
}

.analysis-img-container {
  @include flex-row-center;
  width: 100%;
  height: 12rem;
  margin: 1.5rem 0;
  .analysis-img {
    height: 10rem;
    @include flex-column-center;
    justify-content: space-between;
    margin-right: 1rem;
    img {
      height: 7rem;
      width: 7rem;
    }
    span {
      @include primary-font-normal;
      @include font-size-1622;
      color: $theme-color-black39;
      text-align: center;
    }
  }
}

input[type='radio'] {
  cursor: pointer;
}

.force-left{
  align-self: flex-start !important;
  margin-left: calc(10% - 2.5rem) !important;
}