.augmentation-navbar {
  @include flex-row-center;
  background-color: $theme-color-greyEB;
  height: 3.75rem;
}

.augmentation-navbar-element {
  margin: 0 0.5rem;
}

.augmentation-navbar-element-btn {
  margin: 0 0.5rem;
  &.first {
    margin-left: 5rem;
  }
}
