.react-select2-container {
  width: 12rem;
  margin-left: 2rem;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
}

.react-select2-large {
  width: 90%;
}

.react-select2__control {
  background-color: $theme-color-dark-blue !important;
  border: none;
}

.react-select2__placeholder,
.react-select2__single-value,
.react-select2__indicator {
  color: $theme-color-white !important;
  @include primary-font-normal;
}
.react-select2__option {
  @include primary-font-normal;
}

.header-step3 {
  z-index: 10;
  position: fixed;
  width: 100%;
  @include flex-row-center;
}

.manual-options {
  margin-left: 2rem;
  width: 100%;
  height: 3.75rem;
  @include flex-row-center;
  button {
    cursor: pointer;
    margin-right: 1rem;
  }
}

.dataset-page3 {
  width: 70%;
  .heading {
    @include primary-font-normal;
    @include font-size-3244;
    font-weight: 600;
    color: $theme-color-black;
    @include flex-row-center;
    margin: 1.5rem 0;
  }
}
.graph-stat-container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
