.rotate-preview {
  padding: 2rem;
  padding-top: 0;
}

.rotate-heading {
  @include flex-row-center;
  justify-content: space-between;
  height: 4rem;
}

.action-name {
  @include font-size-2433;
  @include primary-font-normal;
  font-weight: 600;
}

.react-select-container {
  width: 60%;
  border: 1px solid #335bc0;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.react-select-large {
  width: 90%;
}

.react-select__control {
  border: none;
}

.react-select__placeholder,
.react-select__single-value,
.react-select__option {
  color: $theme-color-grey57;
  @include primary-font-normal;
}

.aug-image-preview {
  margin: 2rem 0;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  min-width: 200px;
  width: 70%;
  @include flex-row-center;
  justify-content: center;
  border: 1px solid $theme-color-black19;
  img {
    height: 150px;
    width: 150px;
  }
}

.flip-btn {
  @include flex-row-center;
  justify-content: space-evenly;
}
