$theme-color-dark-blue: #335bc0;
$theme-color-white-low-transp: rgba(255, 255, 255, 0.9);
$theme-color-white: #ffffff;
$theme-color-grey: #f8f8f8;
$theme-color-black39: #393939;
$theme-color-greyEB: #ebebeb;
$theme-color-grey57: #575757;
$theme-color-black19: #191919;
$theme-color-black: #000000;
