@mixin font-size-2027 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin font-size-1628 {
  font-size: 1rem;
  line-height: 1.75rem;
}

@mixin font-size-1622 {
  font-size: 1rem;
  line-height: 1.45rem;
}

@mixin font-size-2433 {
  font-size: 1.5rem;
  line-height: 2.0625rem;
}
